<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="static/authpage/auth.css">
</head>

<body>

    <div class="RSGAtext">
        <h1>RSGA</h1>
    </div>

    <div class="shadow"></div>
    <div class="rect"></div>

    <form action="/register" method="post" id="multi-step-form">
        <h1>Time to begin!</h1>

        <div class="personal-info step" data-step="1">
            <h2>Personal Information</h2>

            <!-- Full Name -->
            <label for="full_name">Full Name</label>
            <input autocomplete="off" autofocus class="full_name" name="full_name" type="text" id="full_name" required>

            <!-- Email -->
            <label for="email">Email</label>
            <input autocomplete="off" class="email" name="email" type="email" id="email" required>

            <!-- Phone Number -->
            <label for="phone_number">Phone Number</label>
            <input autocomplete="off" class="phone_number" name="phone_number" type="tel" id="phone_number"
                placeholder="01XXXXXXXXX" pattern="01[3-9][0-9]{8}" required>

            <!-- Buttons -->
            <div class="btnContainer">
                <button type="button" data-action="next">Next</button>
            </div>

        </div>

        <div class="institution step" data-step="2" style="display: none;">
            <h2>Institution Details</h2>

            <!-- School -->
            <label for="school">School</label>
            <input autocomplete="off" class="school" name="school" type="text" id="school" required>

            <!-- Grade -->
            <label for="grade">Grade</label>
            <select class="grade" name="grade" id="grade" required>
                <option disabled selected value="">Select Grade</option>
                {% for grade in grades %}
                <option value="{{ grade }}">Grade {{ grade }}</option>
                {% endfor %}
            </select>

            <!-- Section and Shift -->
            <div class="field-container">
                <!-- Section -->
                <div class="field">
                    <label for="section">Section</label>
                    <input autocomplete="off" class="section" name="section" type="text" id="section" required>
                </div>

                <div class="field">
                    <!-- Shift -->
                    <label for="shift">Shift</label>
                    <select class="shift" name="shift" id="shift" required>
                        <option disabled selected value="">Select Shift</option>
                        {% for shift in shifts %}
                        <option value="{{ shift }}">{{ shift }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>


            <!-- Buttons -->
            <div class="btnContainer">
                <button type="button" data-action="prev">Previous</button>
                <button type="button" data-action="next">Next</button>
            </div>
        </div>


        <div class="social step" data-step="3" style="display: none;">
            <h2>Social</h2>

            <!-- Facebook -->
            <label for="facebook">Facebook URL</label>
            <input autocomplete="off" class="facebook" name="facebook" type="url" id="facebook">

            <!-- Instagram -->
            <label for="instagram">Instagram URL</label>
            <input autocomplete="off" class="instagram" name="instagram" type="url" id="instagram">

            <!-- Discord -->
            <label for="discord">Discord Username</label>
            <input autocomplete="off" class="discord" name="discord" type="text" id="discord">

            <!-- Buttons -->
            <div class="btnContainer">
                <button type="button" data-action="prev">Previous</button>
                <button type="button" data-action="next">Next</button>
            </div>
        </div>

        <div class="finalizing step" data-step="4" style="display: none;">
            <h2>Almost done!</h2>

            <!-- Password -->
            <label for="password">Password</label>
            <input autocomplete="off" class="password" name="password" type="password" id="password" required>

            <!-- Confirm Password -->
            <label for="confirm_password">Confirm Password</label>
            <input autocomplete="off" class="confirm_password" name="confirm_password" type="password"
                id="confirm_password" required>

            <!-- Buttons -->
            <div class="btnContainer">
                <button type="button" data-action="prev">Previous</button>
                <button type="submit">Submit</button>
            </div>
        </div>
    </form>

    <script src="static/authpage/script.js"></script>

</body>

</html>