@import url("https://fonts.cdnfonts.com/css/blanka");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body {
  background-color: #131314;
  color: white;
  font-family: "poppins";
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.RSGAtext {
  position: absolute;
  left: calc(100vw - 130px);
  top: 0;
  height: 100vh;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.RSGAtext h1 {
  font-family: "blanka";
  font-weight: 200;
  transform: rotate(-90deg);
  font-size: 230px;
  opacity: 0.38;
}

.shadow {
  position: absolute;
  height: 100%;
  right: 0px;
  box-shadow: 0px 10px 35px 50px rgba(0, 0, 0, 0.77);
}

.rect {
  position: absolute;
  width: 220px;
  height: 220px;
  background-color: #29313f;
  border-radius: 20px;
  bottom: 30px;
  left: calc(48% + 10px);
  top: calc(60% + 10px);
  animation: rectAnim 20s infinite;
}

@keyframes rectAnim {
  0% {
    transform: rotate(70deg);
    border-radius: 20px;
  }
  25% {
    transform: rotate(140deg);
    border-radius: 5px;
    background-color: #809bc8;
  }
  50% {
    transform: rotate(-15deg);
    border-radius: 10px;
    background-color: #a76fb8;
  }
  75% {
    transform: rotate(35deg);
    width: 260px;
    height: 260px;
    border-radius: 70px;
    background-color: #809bc8;
  }
  100% {
    transform: rotate(70deg);
    border-radius: 20px;
  }
}
form {
  position: relative;
  top: 40px;
  left: 70px;
  height: 86vh;
  width: calc(48% - 80px);
  padding: 1.5vh 60px;
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(6.5px);
          backdrop-filter: blur(6.5px);
  border-radius: 10px;
  border: 2px solid #303030;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form h1 {
  font-size: 6.5vh;
  padding-top: 2vh;
  background: linear-gradient(to right, #809bc8 0%, #a76fb8 100%);
  -webkit-background-clip: text;
          background-clip: text;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
}
form h2 {
  font-size: 4vh;
}
form label {
  transition: background-color 0.3s ease-in-out;
  opacity: 0.85;
  margin-left: 1vh;
  font-size: 2.5vh;
}
form input {
  width: 95%;
  padding: 0 4px;
  margin: 4px;
  margin-bottom: 20px;
  font-size: 3.2vh;
  font-family: "poppins";
  background-color: transparent;
  border: 3px solid rgba(255, 255, 255, 0.842);
  border-radius: 12px;
  color: white;
}
form .personal-info,
form .institution,
form .social,
form .finalizing,
form .login-form {
  padding: 16vh 12vh;
  position: absolute;
}
form .personal-info .btnContainer,
form .institution .btnContainer,
form .social .btnContainer,
form .finalizing .btnContainer,
form .login-form .btnContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
form .personal-info .btnContainer button,
form .institution .btnContainer button,
form .social .btnContainer button,
form .finalizing .btnContainer button,
form .login-form .btnContainer button {
  background-color: #303030;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "poppins";
  margin-top: 34px;
  margin-right: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 7px #809bc8;
}
form .institution select {
  background-color: transparent;
  width: 100%;
  font-size: 2.8vh;
  margin: 4px;
  padding: 3px 4px;
  margin-bottom: 20px;
  border: 3px solid white;
  border-radius: 12px;
  font-family: "poppins";
  color: rgb(192, 192, 192);
}
form .institution .field-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
form .institution .field-container .field {
  width: 48%;
  display: flex;
  flex-direction: column;
}
form .login-form {
  padding-top: 12vw;
}
form .login-form .btnContainer {
  padding-top: 3vw;
}/*# sourceMappingURL=auth.css.map */