@import url('https://fonts.cdnfonts.com/css/blanka');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


body {
    background-color: #131314;
    margin: 0;
}

/* Navbar */
.navbar {
    background-color: #0d1542;
    padding: 8px 28px 24px;
    color: white;
    justify-content: space-between;
    font-size: 1.4rem;
}
.navbar-brand {
    font-family: 'Blanka';
    font-size: 46px;
    color: white;
}
.navbar-brand:hover{
    color: white;
}
.navbar-nav .nav-link {
    color: white;
    font-family: "Poppins", serif;
    text-decoration: none;
    margin-top: 12px;
    transition: color 0.3s ease;
}
.navbar-nav .nav-link:hover {
    color: #C4C4C4;
}
.navbar-toggler {
    border: 2px solid white;
    border-radius: 10px;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar .auth-buttons {
    font-family: "Poppins", serif;
}
.navbar .auth-buttons .login,
.navbar .auth-buttons .register,
.navbar .auth-buttons .logout {
    margin-top: 12px;
    padding: 8px 18px;
    border: 1px solid white;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 1.4rem;
}